

.ngx-org-name {

    text-align: center;
}

.ngx-org-title {

    width: 200px;
}

.solid-name {

    color: blue;
}

.solid-name .container {

    margin: 8px;

}

.solid-name .left {

    color: brown;

    font-weight: 600;

}

.solid-name .right {

    float: right;

    color: black;

}